.div1-class{
    background-color: blueviolet;
}

.div2-class{
    background-color: blue !important;
}

#div1-id{
    background-color: aquamarine;
}

div{
    background-color:  red;
}

#div2-id {
    background-color: green;
}

